spring:
  application:
    name: cgsWeb
  ai:
    google:
      genai:
        projectId: ${GOOGLE_PROJECT_ID:}
        api-key: ${GOOGLE_API_KEY:}
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true